<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>699329369554-t9p4u4vv1uhk499bgq2jh5alguaojv03.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.699329369554-t9p4u4vv1uhk499bgq2jh5alguaojv03</string>
	<key>API_KEY</key>
	<string>AIzaSyCYcBp0va7-Vnm98_FkT6vFao_KmwRhVe0</string>
	<key>GCM_SENDER_ID</key>
	<string>699329369554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nosadvova.OneChat</string>
	<key>PROJECT_ID</key>
	<string>onechat-5aa7f</string>
	<key>STORAGE_BUCKET</key>
	<string>onechat-5aa7f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:699329369554:ios:5ef32a23b036f9e69d640b</string>
</dict>
</plist>